<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.adapter.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyAdapter">
        <activity android:name=".StaggeredGridHorizontalActivity"></activity>
        <activity
            android:name=".StaggeredGridVerticalActivity"
            android:exported="false" />
        <activity
            android:name=".GridHorizontalActivity"
            android:exported="false" />
        <activity
            android:name=".GridVerticalActivity"
            android:exported="false" />
        <activity
            android:name=".LinearHorizontalActivity"
            android:exported="false" />
        <activity
            android:name=".LinearVerticalActivity"
            android:exported="false" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>